{
  "presets": ["env", "react-app"],
  "plugins": [
    "transform-class-properties",
    [
      "react-intl",
      {
        "messagesDir": "./build/messages",
        "enforceDescriptions": false
      }
    ]
  ]
}
