@media (min-width: 768px) {
    .activity-actions .btn-group, .activity-actions .btn {
        float: right;
    }
}

.navbar-narrow .navbar-nav > li > a {
    padding-top:3px !important;
    padding-bottom:3px !important;
}

.navbar-narrow {
    min-height:30px !important;
    font-size: x-small;
}

.navbar { 
    border-radius: 0 !important
}